<h2>Finance Forecast</h2>

<p>Hi <%= @user.first_name %>, Welcome to Finance Forecast! Click on the link below to activate your account: </p>

<p><%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %></p>

