<select name="special_asset_steps_step1_property[location]">
  <option value="NA" selected>Select State</option>
  <% RealEstateAppreciation.order(:name).each do |state| %>
    <option value="<%= state.abbreviation %>" <%= "selected" if @state == state.abbreviation %>><%= state.name %></option>  
  <% end %>
  <option value="OU" <%= "selected" if @state == "OU" %>>Outside U.S.</option>
</select>   