<div class="form-group">
  <%= form_object.label label_for, (label_name if !label_name.nil?), class: "control-label col-md-3" %>
  <div class="form-input col-md-9">
    <%= form_method %>
  </div>
</div>