<a href="#" title="Main Menu" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<div class="dropdown" >
  <%=image_tag("new-menu-icon.png", class: "menu-icon") %>
</a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <% ResourceName.all.each do |r| %>
      <%= link_to r.name.pluralize, "/#{r.table_name}", class: "dropdown-item" %>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Account', account_path %>
    <%= link_to 'Log Out', logout_path, method: :delete %>
  </div>
</div>