<div class="container resource-show-wrapper">    
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><%= title %></div>
        <p class="resource-type"><i><%= type %></i></p>
      </div>  
      <div class="panel-body" >