<h1>New <%= @new.class %></h1>
<%= form_for @new do |f| %>
  <% input_fields(@new).each do |attribute| %>
    <%= form_field(f, attribute) %>
    <br>
  <% end %>
  <%= f.submit "Add #{@new.class}" %>
<% end %>