<h1><%= "Select #{$resource} Type" %></h1>
<%= form_for @page_resource, url: "/#{$resource_plural}/options" do |f| %>
  <%= f.select(:type_id, options_for_select(@type_selections), include_blank: "Select Type") %>
  <%= f.submit "Next" %>

<% end %>


