<div class="resource-show-item"><p class="item-title">Amount:</p><p class="item-value"><%= number_to_currency @resource.amount %></p></div>
<div class="resource-show-item" id="last"><p class="item-title">Interest:</p><p class="item-value"><%= @resource.interest.nil? ? "Not applicable" : "#{@resource.interest}\% compounded #{@resource.compound_frequency.downcase}" %></p></div>
