@import "bootstrap-sprockets";
@import "bootstrap";

$universal-background: #F5F5F5;
$header-hover-color: #2C4251;
$header-background-color: #01AC3A;
$menu-background-color: #347AB6;
$footer-background-color: #202020;
$divider-color: #D8D8D8;
$link-font: "Raleway";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Arimo:400|Comfortaa|Handlee|Raleway:500|Encode+Sans+Expanded');

/* APPLICATION */

*{
  margin: 0;
  padding: 0;
}

html, body{
  background-color: $universal-background !important;
}

p{
  font-family: "Arimo",sans-serif;
}

h2,h3,h4{
  font-family: "Encode Sans Expanded";
}

h1{
  font-family: "Handlee";
  font-size: 3.5em;
}

h2{
  font-size: 2em;
}

a{
  font-family: $link-font;
}

/* HEADER */

// div.spacer{
//   background-color: #62BDEA;
//   width: 0.5%;
//   height:55px;
//   display: inline-block;
//   float: left;
//   border-bottom: 1px solid $universal-background;
// }

// div.logo{
//   display:inline-block;
//   height: 55px;
//   width: 20%;
//   background-color: white;
//   border-bottom: 1px solid $universal-background;
//   img.logo-img{
//     // position:relative;
//     height:100%;
//     width: 100%
//   }
//   a{
//     text-decoration:none;
//   }
// }
// div.logo:hover{
//   background-color: $header-hover-color;
// }

header{
  display:inline-block;
  background: rgb(125,185,232);
  background: -moz-linear-gradient(left,  rgba(125,185,232,1) 0%, rgba(32,124,202,1) 0%, rgba(32,124,202,1) 0%, rgba(98,189,234,1) 0%, rgba(129,202,237,1) 50%, rgba(98,189,234,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(125,185,232,1) 0%,rgba(32,124,202,1) 0%,rgba(32,124,202,1) 0%,rgba(98,189,234,1) 0%,rgba(129,202,237,1) 50%,rgba(98,189,234,1) 100%);
  background: linear-gradient(to right,  rgba(125,185,232,1) 0%,rgba(32,124,202,1) 0%,rgba(32,124,202,1) 0%,rgba(98,189,234,1) 0%,rgba(129,202,237,1) 50%,rgba(98,189,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#62bdea',GradientType=1 );
  border-bottom: 1px solid $universal-background;
  height: 55px;
  width: 100%;
  float: right;
  margin-bottom: 0;
  padding: 0;
  // box-shadow: 1px 2px 12px #404040;
  // border-bottom-right-radius:15px;
  // border-bottom-left-radius:15px;

  div.logo{
    float: left;
    height: 55px;
    width: 150px;
    margin-left:10px;
    background-color: transparent;
    background-image: url("https://image.ibb.co/nw64yw/logo_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 12px;
  }

  div.logo:hover{
    background-image: url("https://image.ibb.co/eqxYQb/logo_hover.png");
  }

  nav{
    display: inline-block;
    float: right;
    margin-top: 6px;
    div.dropdown{
      display: inline-block;
    }
    div.dropdown-menu{
      min-width: 140px;
      background-color: $menu-background-color;
      color: white;
      border: 1px solid white;
      padding: 5px 0;
      a{
        display: block;
        font-size: 16px;
        padding-left: 10%;
        line-height: 1.8;
      }
      a:visited{
        color: white;
      }
      a:hover{
        text-decoration: none;
        background-color: $header-hover-color;
      }
      div.dropdown-divider{
        width: 80%;
        height: 1px;
        margin: 5px 10%;
        background-color: white;
      }
    }
    img{
      height: 40px;
      padding: 8px;
    }
    img:hover{
      background-color: $header-hover-color;
    }
    img.menu-icon{
      margin-right: 20px;
    }
  }
}

div.wrapper{
  text-align: center;
  div.welcome-message{
    padding: 0 7%;
    color: $divider-color;
  }
  div.jumbo{
    img.jumbotron-img{
      display: block;
      margin: auto;
      margin-top:0;
      margin-bottom: 75px;
      // border-radius: 15px;
      height: 400px;
      width: 100%;
      // max-width: 800px;
      padding: 0;
      // border: 1px solid #2C4251;
      // box-shadow: 2px 3px 12px 0 #404040;
    }
  }
  div.login-buttons{
    margin-top: 40px;
    a{
      width: 150px;
    }
    a.login-btn{
      margin-right:35px;
    }
    a.signup-btn{
      margin-left:35px;
    }
  }
  div.first-section{
    margin-top: 75px;
    border-top: 2px solid $divider-color;
    // border-top: 2px solid $footer-background-color;
  }
  div.homepage-section{   
    border-bottom: 2px solid $divider-color;
    // border-bottom: 2px solid $footer-background-color;
    height: 250px;
    text-align: center;
    div.col-sm-6{
      height: 100% !important;
      text-align:center
      img{
        height: 100%;
      }
      img.chart-icon{
        max-height: 100%;
        padding: 10px 0;
      }
      img.calculator-icon{
        max-height: 100%;
        padding: 25px 10px;
      }
      img.calendar-icon{
        max-height: 100%;
        padding: 15px;
      }
      img.plane-icon{
        max-height: 100%;
        padding: 30px;
      }
    }
    div.section-text{ 
      // display: flex;
      
      padding-top: 25px;
      padding-left: 70px; 
      padding-right: 70px;
      p{
        // display:block;
        padding-top: 10px;
      }
    }
  }
  div.last-section{
    border-bottom: 0;
  }
}

// FOOTER

footer.col-sm-12{
  // display:block;
  color: white;
  background-color: $universal-background;
  margin-top: 40px;
  height: 100%;
  text-align: center;
  padding: 0;
  div{
    background-color: $footer-background-color;
  }
  div.col-sm-4{
    height: 150px;
    padding-top:5px;
  }
  div.footer-top{
    height: 35px;
    width: 100%;
  }
  div.footer-logo{
    display:block;
    height: 75px;
    padding-top: 3px;
    img{
      display: block;
      height: 100%;
      margin: auto;
      // margin-bottom:50px;
      padding:20px;
    }
  }
  div.footer-left{
    ul.footer-links{
      list-style:none;
      a{
        color: $menu-background-color;
        text-decoration:none;
        line-height: 1.6;
      }
      a:visited{
        color: $menu-background-color;
      }
      a:hover{
        color:white;
      }
    } 
  }
  div.footer-mid{
    border-right: 1px solid white;
    border-left: 1px solid white;
    div.footer-icons{
      // padding-top:10px;
      img:hover{
        // Turn on for background color on footer media links
        // background-color: $menu-background-color;
      }
      img{
        height: 40px;
        padding: 5px;
      }
    }
  }
  div.footer-right{
    padding: 12px 30px 0;
    p.footer-mission-statement{
      font-size: 12px;
      @media screen and (min-width: 975px) {
        font-size: 14px;
      }
    }
  }
  div.footer-bottom{
    height: 100%;
    padding-top: 10px;
    p{
      margin-bottom:0;
    }
  }
}


