<h1>Select Asset Type</h1>
<h2>Liquid Assets</h2>
<ul>
  <li><a href="#">Savings Account</a></li>
  <li><a href="#">Certificate of Deposit (CD)</a></li>
  <li><a href="#">Bond</a></li>
  <li><a href="#">Mutual Fund</a></li>
  <li><a href="#">Precious Metal</a></li>
  <li><a href="#">Other</a></li>
</ul>

<h2>Non-liquid Assets</h2>
<ul>
  <li><a href="#">Real Estate</a></li>
  <li><a href="#">Car</a></li>
  <li><a href="#">Artwork</a></li>
  <li><a href="#">Jewelry</a></li>
  <li><a href="#">Collectible</a></li>
  <li><a href="#">Other</a></li>
</ul>
<br>